<ion-button class="hide" id="open-modal" expand="block">Open</ion-button>
<ion-modal trigger="open-modal" (willDismiss)="closeModal()">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button (click)="closeModal()">Cancel</ion-button>
                </ion-buttons>
                <ion-title>
                    <h1>
                        {{ formAddExercise.controls.name.value }}
                    </h1>
                </ion-title>
                <ion-buttons slot="end">
                    <ion-button (click)="submit()" [strong]="true">
                        Update
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            <form [formGroup]="formAddExercise">
                <ion-list>
                    <!--Exercise name-->
                    <ion-item>
                        <ion-input
                            formControlName="name"
                            label="Exercise name"
                            placeholder="Développé couché"></ion-input>
                    </ion-item>

                    <!--Muscle-->
                    <ion-item>
                        <ion-select
                            formControlName="muscle"
                            label="Targeted muscle"
                            label-placement="floating">
                            <ng-container *ngFor="let muscle of muscles">
                                <ion-select-option
                                    value="{{muscle}}"
                                >{{ muscle.charAt(0).toUpperCase() + muscle.slice(1) }}</ion-select-option>
                            </ng-container>
                        </ion-select>
                    </ion-item>

                    <!--Sets-->
                    <ion-item>
                        <ion-input
                            formControlName="sets"
                            label="Sets"
                            placeholder="4 séries 10 reps"></ion-input>
                    </ion-item>

                    <!--Image-->
                    <ion-item>
                        <ion-input
                            formControlName="image"
                            label="Image URL"
                            placeholder="https://entrainement-sportif.fr/abdominaux-coude-genou-oppose.gif"></ion-input>
                    </ion-item>

                    <!--Description-->
                    <ion-item>
                        <ion-textarea
                            formControlName="description"
                            label="Description" placeholder="Lorem ipsum"></ion-textarea>
                    </ion-item>
                </ion-list>
            </form>
        </ion-content>
    </ng-template>
</ion-modal>


<ng-container *ngIf="currentRoute.includes('admin')">
    <h1>Add exercise</h1>
    <form [formGroup]="formAddExercise">
        <ion-list>
            <!--Exercise name-->
            <ion-item>
                <ion-input
                    formControlName="name"
                    label="Exercise name"
                    placeholder="Développé couché"></ion-input>
            </ion-item>

            <!--Muscle-->
            <ion-item>
                <ion-select
                    formControlName="muscle"
                    label="Targeted muscle"
                    label-placement="floating">
                    <ng-container *ngFor="let muscle of muscles">
                        <ion-select-option
                            value="{{muscle}}"
                        >{{ muscle.charAt(0).toUpperCase() + muscle.slice(1) }}</ion-select-option>
                    </ng-container>
                </ion-select>
            </ion-item>

            <!--Reps-->
            <ion-item>
                <ion-input
                    formControlName="sets"
                    label="Sets"
                    placeholder="4 séries 10 reps"></ion-input>
            </ion-item>

            <!--Image-->
            <ion-item>
                <ion-input
                    formControlName="image"
                    label="Image URL"
                    placeholder="https://entrainement-sportif.fr/abdominaux-coude-genou-oppose.gif"></ion-input>
            </ion-item>

            <!--Description-->
            <ion-item>
                <ion-textarea
                    formControlName="description"
                    label="Description" placeholder="Lorem ipsum"></ion-textarea>
            </ion-item>

            <!--Submit-->
            <ion-item>
                <ion-button (click)="submit()" [disabled]="!formAddExercise.valid">
                    <ion-icon name="add-outline"></ion-icon>
                    Add exercise
                </ion-button>
            </ion-item>
        </ion-list>
    </form>
</ng-container>
